html h1   {
  margin : 0px ;
  padding :0px ;
}

ul li{
  margin : 0px ;
  padding :0px ;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: inherit;
}
#page-container{
  margin: 0 15%;
  min-width: 1350px;
}
/* main css */
header #logo-wrapper {
  float: left;
  margin-left: 70px;
}

header #nav-user-menu {
  padding-top: 75px ;
  margin-right: 70px;
  float: right;
}

header #header-nav-actions{
  margin: 0;
}

#header-nav-actions > li {
  display: inline-block;
  margin-left:20px;
}
header #header-search {
  text-align: center;
  padding-top: 75px;
}
header #header-search #header-search-container{
  border: none ;
  border-bottom: 1px solid black;
  width: 350px;
}
#header-menu {
  border-bottom: solid black 1px;
  position: relative;
  background: rgb(244, 242, 242);
  height: 50px;
  margin: 0 5%;
  margin-top: 20px;
}
#header-menu-cate{
  text-align: center;
  margin: 0px;
  padding: 0px;

}
#header-menu-cate li{
  display: inline-block;
  font-weight:700;
  font-size: 15px;
  width: 260px;
  height: 50px;
  line-height: 50px;
  /* background: red; */
}

#section-main {
  margin: 0px 5%;
}
#section-main #slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:500px;

}

#section-main #slide img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#main-notice {
  text-align: center;
  position: relative;
  padding: 70px 68px;
  margin-top: 70px ;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
  height: 550px ;
  /* background: blue; */
}

.main-medium-text {
  text-align: center;
}

.main-notice {
  float: left ;
  margin-left: 10px;
  width: 330px ;
  height: 480px;
  border: 2px solid black;

}
.main-notice:last-child{
  margin-right:  0 !important ;

}

.main-notice-image {
  width: 100% ;
  height: 85%;

}

.main-notice-text{
  height: 13%;
  font-size: 20px;
  text-align: center;

}

#main-recommend-wrap{
  margin: 80px 0;
  padding: 20px 78px;
  position: relative;
  height: 450px;
  /* background: blue; */
}
#main-recommend-wrap h3{
  margin-bottom: 40px;
}

#main-recommend-wrap h3 a{
  color: rgb(214, 214, 214);
}
#main-recommend-wrap h3 a:first-child{
  margin-right: 70px;
  color: black ;
  text-decoration: underline;

}
.main-recommend-list {
  position : relative;
  margin-bottom: 90px;
  overflow: hidden;
}

.main-recommend {
  width: 240px;
  height: 290px;
  border: 1px solid black;
  float: left;
  margin-right: 15px;
}

.main-recommend:last-child {
  margin-right:  0px;
}

.main-recommend-image{
  height: 250px;
}
.main-recommend-image img {
  width: 240px;
  height: 240px;
}
.main-recommend-text{
  font-size: 12px;
}

.best-list {
  display: none;
}

/* login css */
#login-form {
  margin: 145px 330px;
  /* background: blue; */
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 540px;
  height: 230px;
  padding: 50px 0px;

}

#login-top {

  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 800;
}
#login-top span {
  margin-left: 15px;
}
#login-content{
  position: relative;

}

#login-content label {
  font-size: 20px;
  font-weight: 400;
  text-align: center ;
  display: inline-block;
  width: 110px;
}
#login-content input{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

#login-content input[type="button"]{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 85px;
  height: 85px;
  background: black;
  color: white;
  border:0;
  outline: 0;
}

#login-error {
  margin-top: 20px;
  font-size: 15px;
  width: 100%;
  color: red ;
  text-align: center ;
  display: inline-block;
  visibility:hidden;
}

#join-move {
  text-align: center;
  text-decoration : underline;
}

/* ------------join---------------------------- */

/* join css */
#join-form {
  margin: 145px auto;
  /* background: blue; */
  border-top: 3px solid black;

  padding: 50px 0px;

}

#join-top {

  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 800;
}
#join-top span {
  margin-left: 15px;
}
#join-content div{
  margin-bottom: 20px;

}

#join-content label {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  width: 250px;
}
#join-content input{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

#join-content input[type="submit"]{

  width: 350px;
  margin-top: 50px;
  height: 65px;
  font-size: 25px;
  background: black;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

#join-content button{
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 80px;
  height: 28px;
}

#join-content div p{
  margin-left: 260;
  color: red ;
}

#join-address {
    width: 380px;
    height: 150px;
    margin-left: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#join-address div:nth-child(2){
    margin-top: 43px;
}

#join-address div div {
    width: 50px;
    display: inline-block;

}



/*-------------------productList------------------ */

#wrap-navi {
  margin-top: 80px;
  /* background: blue; */
  width: 250px;
  float: left;

}
#wrap-navi .sub-menu {
  margin-top: 30px;
}

#wrap-navi .sub-menu ul {
  margin: 0;
  padding: 0 ;
  font-size: 22px;
}

#wrap-navi .sub-menu ul li {
  margin-bottom: 20px;
}


.sub-logo span {
  font-size: 23px;
  font-weight: 800;
  color : rgba(98, 219, 66, 0.89);

}

#wrap-product {
  margin-top: 80px;
  /* background: green ; */
  float: left;
  max-width: 964px;
  width: 100%;


}

#wrap-product h2 {
  margin-left: 40px;
}

#product-list{
  margin: 0 ;
  padding: 0;

}
#product-list h2 {
  text-align: center;
  line-height: 400px;

}

#product-list li {
  width: 295px;
  height: 300px;
  /* background: blue; */
  float: left;
  margin-top: 20px;
  margin-left : 20px;
}
#product-list img {
  width: 295px;
  height: 200px;
  margin-bottom: 10px;
}

#product-list span {
  font-size: 16px;
  font-weight: 900;
}

#product-list p {
  font-size: 12px;
}

/* --------product----------- */
#product-head {
  margin: 45px ;
  width: 100%;
  /* border-bottom: 1px solid black; */

}

#product-head-img {
  width: 420px;
  height: 500px;
  /* background: blue; */
  float: left;

}

#product-head-img img{
  width: 420px;
  height: 400px;
}

#product-head-info {
  margin-left: 40px;
  float: left;
  width: 400px;
  /* background: yellow; */
}
#product-head-info ul {
  margin: 0 ;
  padding: 0;
}

#product-head-info li:nth-child(1){
  font-size: 17px;
  margin-bottom: 5px;
}

#product-head-info li:nth-child(2){
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
#product-head-info li:nth-child(3){
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;

}

#product-head-info li:nth-child(5){
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.product-btn {
    width: 190px;
    height: 75px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;

}

#product-cart {
  background: rgb(109, 223, 99);
  margin-right: 20px;
}

#product-buy {
  background: rgb(241, 13, 65) ;
}

#product-head-info input[name="amount"]{
    width: 30px;
    height: 25px;
}

/* -------------------Buy --------------- */
#buy-product-wrap {
  margin-top: 55px;
  border-top: 1px solid #1f1f1f;

}
#buy-product-wrap table {
    margin-top: 43px;
    text-align: center;
    width: 100%;
}
#buy-product-wrap thead th {
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 300;
    font-size: 14px;
    color: rgb(161, 162, 160);
}

#buy-head h2 {
    margin-bottom: 30px;
}

#buy-product-wrap tbody tr td{
    border-bottom: 1px solid #e2e2e2;
}

#buy-product-wrap tbody td{
    padding: 20px 0;
}

.buy-product-img {
    width: 250px;
}

#buy-total-wrap {
    display: table;
    position: relative;
    width: 100%;
    margin: 40px 0 80px;
    padding: 40px 0;
    background-color: #fafafa;
    border-top: 1px solid #e2e2e2;
    font-size: 20px;

}

#buy-total-wrap .buy-pay {
    display: table-cell;
    text-align: center;
    position: relative;
}

.buy-pay img {
    position: absolute;
    top: 10%;
    right: 0;
}

.buy-pay span:nth-child(2){
    margin-left: 20px;
}

#buy-section {
    width: 100%;
    border-top: 1px solid #1f1f1f;
    margin-bottom: 100px;
}

.buy-head-title {
    font-weight: 800;
    font-size: 15px;
    margin: 21px 0;
    padding: 10px;
}

#buy-info dl {
    padding: 10px;
    font-size: 20px;
}

#buy-info dt {
    width: 200px;
    float: left ;
}

#buy-info dd  {
    margin-bottom: 50px;

}

#buy-info dd input {
    border: none ;
    border-bottom: 1px solid black;
    width: 190px;
    height: 30px;
    font-size: 21px;
}
#buy-address {
    width: 500px;
    height: 150px;
    margin-left: 160px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#buy-address div:nth-child(2){
    margin-top: 43px;
}

#buy-address div div {
    width: 95px;
    display: inline-block;

}

#buy-address #buy-addr1{
    width: 250px;
}

#buy-address #buy-addr3 {
    width: 250px;
}

#buy-section button {
    width: 300px;
    height: 60px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    background: rgb(104, 226, 94);
}

#pay-select-wrap {
    margin: 50px 0;
    padding-bottom: 50px;
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
}
#buy-info select {
    width: 140px;
    height: 36px;
    font-size: 21px;
}
#pay-select-wrap dt {
    float: left;
}

/*ーーーーーーーーーbuy-completeーーーーーーーーーーーー */

#buy-finish-wrap h1 {
    text-align: center;
    line-height: 20;
}

/*ーーーーーーーーーcartーーーーーーーーーーーー */
#buy-head {
    position: relative;
}
#cart-btn-wrap {
    position: absolute;
    right: 0;
    margin-bottom:  50px;
}
.cart-btn {
    width: 250px;
    height: 60px;
    border: 0;
    outline: 0;
    margin: 0;
    font-size: 17px;
    background: rgb(133, 133, 133);
    color: white;
    cursor: pointer;
}

/* ーーーーーーMYPAGE----------- */

#wrap-mypage {
  margin-top: 80px;
  /* background: green ; */
  float: left;
  max-width: 964px;
  width: 100%;


}

#wrap-mypage h2 {
  margin-left: 40px;
}

#mypage-buy-wrap table {
    margin-top: 43px;
    text-align: center;
    width: 100%;

}
#mypage-buy-wrap thead th {
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 300;
    font-size: 14px;
    color: rgb(161, 162, 160);
}
#mypage-buy-wrap img {
    width: 210px;
    height: 90px;
}

#mypage-buy-wrap tbody tr td{
    border-bottom: 1px solid #e2e2e2;
}

#mypage-buy-wrap tbody td{
    padding: 20px 0;
}

#mypage-buy-wrap .buy-code {
    text-decoration: underline;
}

.mypage-buy-name1 {
    font-size: 12px;
}

/* --------------buy history -------------- */

#buyhis-wrap {
  margin-top: 55px;

}

#buyhis-title {
  border-bottom: 1px solid black;
  padding: 20px;
}
#buyhis-wrap table {
    margin-top: 43px;
    text-align: center;
    width: 100%;
}
#buyhis-wrap thead th {
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 300;
    font-size: 14px;
    color: rgb(161, 162, 160);
}


#buyhis-wrap tbody tr td{
    border-bottom: 1px solid #e2e2e2;
}

#buyhis-wrap tbody td{
    padding: 20px 0;
}

#buy-info dl {
    padding: 10px;
    font-size: 20px;
}

#buy-info dt {
    width: 200px;
    float: left ;
}

#buy-info dd  {
    margin-bottom: 50px;

}

#buy-info dd input {
    border: none ;
    border-bottom: 1px solid black;
    width: 190px;
    height: 30px;
    font-size: 21px;
}
#buy-address {
    width: 500px;
    height: 150px;
    margin-left: 160px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#buy-address div:nth-child(2){
    margin-top: 43px;
}

#buy-address div div {
    width: 95px;
    display: inline-block;

}

#buy-address #buy-addr1{
    width: 250px;
}

#buy-address #buy-addr3 {
    width: 250px;
}

#buy-section button {
    width: 300px;
    height: 60px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    background: rgb(104, 226, 94);
}

#pay-select-wrap {
    margin: 50px 0;
    padding-bottom: 50px;
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
}
#buy-info select {
    width: 140px;
    height: 36px;
    font-size: 21px;
}
#pay-select-wrap dt {
    float: left;
}

#buyhis-total-wrap {
    display: table;
    position: relative;
    width: 100%;
    margin: 40px 0 80px;
    padding: 40px 0;
    background-color: #fafafa;
    border-top: 1px solid #e2e2e2;
    font-size: 20px;

}

#buyhis-total-wrap .buy-pay {
    display: table-cell;
    text-align: center;
    position: relative;
}

#mypage-userinfo-check {
  text-align: center;
  line-height: 50px;
  margin-top: 150px;
}

#mypage-userinfo{
  padding: 80px;
}

#mypage-userinfo div{
  margin-bottom: 20px;

}

#mypage-userinfo label {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  width: 250px;
}
#mypage-userinfo input{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

#mypage-userinfo input[type="submit"]{

  width: 350px;
  margin-top: 50px;
  height: 65px;
  font-size: 25px;
  background: black;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

#mypage-userinfo button{
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 80px;
  height: 28px;
}

#mypage-userinfo div p{
  margin-left: 260;
  color: red ;
}
